@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  color: rgb(232, 232, 232);
}

img {
  max-width: 100%;
}

#page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  display: grid;
  place-items: center;
  height: 80px;
  background-color: #000;
}

header img {
  height: 80px;
}

article {
  text-align: center;
  height: 100vh;
  padding: 50px 60px 20px 60px;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/235925/pexels-photo-235925.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(80%);
}

article > * {
  margin-bottom: 40px;
}

article h1 {
  font-weight: 900;
  font-size: clamp(2rem, 5vw, 50px);
}

article ul {
  text-align: center;
}

article ul li {
  font-weight: 700;
  font-size: 1.1em;
}

article ul li::before {
  content: "";
}

article h2 {
  font-weight: 700;
  font-size: 35px;
}

article p:last-child {
  font-size: clamp(1.5rem, 3vw, 50px);
  letter-spacing: 5px;
}
@media (max-width: 450px) {
  article {
    padding: 20px 20px 0 20px;
  }

  article ul {
    list-style: inherit;
    padding-right: 10px;
    text-align: left;
  }

  article ul li {
    /* color: rgb(238, 229, 229); */
    font-weight: 700;
  }
}
